/* Nova Resource Tool CSS */

.customTableView > th, td  {
    padding: 15px;
    text-align: left;
    border-bottom-width: 1px;
    border-color: #eef1f4;
    background-color: #FFFFFF;
}

.customTableView > th  {
    background-color: #F8FAFC;
}

